<% if @subcategories.count <= 0 %>
  <h2 class="page-heading">No subcategories available. Please visit after some time!!</h2>
<% else %>
  <h1 class="page-heading">Subcategories for <%= @category.category_name %></h1><hr />
  <div class="main">
    <div class="main-row">
      <% @subcategories.each do |subcategory| %>
        <div class="image-card" style="width: 18rem;">
          <% if subcategory.image.attached? %>
            <%= image_tag(subcategory.image, class:'img-fluid',style:"height:12rem; width:100%;") %>
          <% end %>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Subcategory: <%= subcategory.subcategory_name %></li>
              <li class="list-group-item">Products Listed: <%= subcategory.products.count %></li>
            </ul><br />
            <% if current_user.role == "Merchant" %>
              <div class="card-links">
                <%= link_to '<i class="fas fa-thin fa-magnifying-glass"></i> All Products'.html_safe , subcategory_all_products_path(subcategory.id) ,class:"btn-sm btn-dark"%>
                <%= link_to '<i class="fas fa-sharp fa-light fa-trash"></i> Delete'.html_safe , subcategory, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class:"btn-sm btn-danger"%>
                <%= link_to '<i class="fas fa-edit"></i> Edit'.html_safe  , edit_subcategory_path(subcategory), class:"btn-sm btn-dark"%>
              </div>
            <% else %>
              <div class="page-heading">
                <%= link_to '<i class="fas fa-thin fa-magnifying-glass"></i> Explore'.html_safe, subcategory_all_products_path(subcategory.id) ,class:"btn-sm btn-dark"%>
              </div>
            <% end %> 
          </div>
        </div>
      <% end %>
    </div>
  </div><br />
<% end %>
<% if current_user.role == 'Customer' %>
  <div class="page-heading">
    <%= link_to '<i class="fas fa-light fa-backward"></i> Back'.html_safe, categories_path, class:"btn-sm btn-dark" %>
  </div>
<% else %>
  <%= render 'links' %>
<% end %>