<% if current_user.cart.payment_status == "Paid" %>
  <h2 class="order-heading">Purchase History</h2><hr />
  <% @orders.each do |order| %>
    <% order.order_products.each do |order_product| %>
      <div class="profile-pic">
        <div class="jumbotron">
          <p>Product Name: <%= order_product.product.product_name %></p>
          <p>User Email: <%= current_user.email %></p>
          <p>Delivery Address :<%= current_user&.addresses&.first&.address_line_1 || "NA" %>, <%= current_user&.addresses&.first&.city || "NA" %>, <%= current_user&.addresses&.first&.state || "NA" %></p>
          <p>Unit Price: $<%= order_product.product.price %></p>
          <p>Shipping Fees: $<%= order_product.product.shipping_fees %></p>
          <p>Order Date: <%=order_product.created_at.strftime("%d-%B-%Y %H:%M %p") %> </p>
          <p>Taxation ID: <%= order_product&.taxation_id || "NA" %></p>
        </div>
        <div>
          <div> 
            <% if order_product.product.images.attached? %>
              <%= image_tag(order_product.product.images.first ,class: "product-image") %>
            <% end %>
          </div><br />
          <div class="page-heading">
            <%= link_to '<i class="fas fa-shopping-cart"></i> Buy Again'.html_safe, cart_add_item_path(product_id: order_product.product.id, cart_id: current_user.cart.id), class:"btn-sm btn-dark" %>
          </div>
        </div>
      </div><hr />
      <% end %>
    <% end %>
  <div class="page-heading">
    <%= paginate @orders %>
  </div>
  <% else%>
  <h2 class="page-heading">No order found in the order history.</h2>
<% end %>
<div class="page-heading">
  <%= link_to 'Home', root_path, class: 'btn-sm btn-dark' %>
</div>