<% if @products.count <= 0 %>
  <h1 class="page-heading">No products found!</h1>
<% else %>
<h1 class="page-heading">Products List</h1><br/>
  <table class="table table-bordered">
    <thead class="heading thead-dark">
      <tr>
        <th scope="col">Product Name: </th>
        <th scope="col">Product Price: </th>
        <th scope="col">Product Material: </th>
        <th scope="col">Product Vendor: </th>
        <th scope="col">Product Shipping Fees: </th>
        <th scope="col">Added Tax: </th>
        <th scope="col">Stock Available: </th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product.product_name, product_path(product), class: 'product-link' %></td>
          <td>$<%= product.price.round(2)%></td>
          <td><%= product.material%></td>
          <td><%= product.vendor%></td>
          <td>$<%= product.shipping_fees.round(2)%> $</td>
          <td>$<%= product.tax.round(2) %></td>
          <td><%= product.stock_quantity %></td>
        </tr>
      <% end %>
    </tbody>
  </table><br>
  <div class="new-product">
    <%= link_to "New Product", new_product_path,  class: 'btn-sm btn-dark' %>
  </div>
<% end %>
<% if @products.count >=  2 %>
  <div class="page-heading">
    <%= paginate @products %>
  </div>
<% end %>