<h3>Search Results</h3>
<% if @search_products.count <= 0 %>
  <h2 class="page-heading">No products available. Please visit after some time!!</h2>
<% else %>
  <h1 class="page-heading">Products List</h1><hr />
  <table class="table table-bordered">
    <thead class="heading thead-dark">
      <tr>
        <th scope="col">Product Name: </th>
        <th scope="col">Product Price: </th>
        <th scope="col">Product Material: </th>
        <th scope="col">Product Vendor: </th>
        <th scope="col">Product Shipping Fees: </th>
        <th scope="col">Added Tax: </th>
        <th scope="col">Stock Available: </th>
        <th colspan="3">Actions:</th>
      </tr>
    </thead>
    <tbody>
      <% @search_products.each do |product| %>
        <% if product.approval_status == "Approved" %>
          <tr>
            <td><%= link_to product.product_name, product_path(product), class: 'product-link' %></td>
            <td>$<%= product.price.round(2)%></td>
            <td><%= product.material%></td>
            <td><%= product.vendor%></td>
            <td>$<%= product.shipping_fees.round(2)%> $</td>
            <td>$<%= product.tax.round(2) %></td>
            <td><%= product.stock_quantity %></td>
            <td>
              <%= link_to 'Buy', new_product_order_path(product_id: product.id), class:"btn-sm btn-dark" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table><br>
  <div class="page-heading">
    <%= link_to "Back", products_path, class:"btn-sm btn-dark" %>
  </div>
<% end %>